body{
}

h3{
    padding-top:20px;
    margin-left:10px;
    margin-bottom:0px;
}

fieldset{
    border:none;
    border-bottom:1px #a3bae9 dashed;

}

.form{
    background-color: #cad9ec;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom:10px;
}

.bordered{
    margin: 10px;
    border: 2px solid black;
    padding:20px;    
}

.form-label{
    font-size: 15px;
    width:30%;
    float: left;
}

.form-input{
    width:60%;
}

.form-button{
    margin-top:10px;
    text-align: center;
    border-bottom: none;
}

button{
    height:30px;
}
