body
{
    font-family: "PT Sans", Arial, sans-serif;
    background-image: url(images/background.jpg);
    word-wrap: break-word;
}

.width-left
{
    width:50.812%;
}  

.width-right
{
    width: 33.75%;
}

.full-text-block
{
    float:left;
    overflow: hidden;
    margin-left: 5.24%;  
    font-size: 10px;
    margin-right: 2.47%;
    
}   

.font-red
{
    color:#f0433f;
}

.light-red
{
    background-color: #f0433f;
    height: 100%;
    width:60%;
}

.light-gray
{
    background: #dcdcdc;
    width:100%;
    height: 10px;
}

.main-block
{
    box-shadow: 8px 8px 20px rgba(122,122,122,1);
    margin: auto;
    margin-top: 3%;
    width: 496px; 
    background-color:white;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
}


.logo
{
    background: url(images/freepick.png);
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 60px;
    min-width: 250px;
    margin-top: 20px;
    background-position: center;
    background-size: 300px;
}

.red-block
{
    background-color: #ef433f;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.white-block
{
    background-color: white;
    margin-left: 25%; 
    margin-top: 8%;
    margin-bottom: 8%;
    width: 65%;
    margin-right: 10%;
    height: 78%;    
}

dl.diamond-list
{
    margin: 0px;
    overflow: hidden; 
}

dl.diamond-list dt,dd
{
    margin-top: 10px;
}

dl.diamond-list dt 
{
    text-align: center;
    float: left; 
    width: 90px;
}

dl.diamond-list dt:before{
    content: "";
    float:left;
    width: 12px;
    height: 12px;
    background: #ef4541;
    margin: 3px 5px 0px 10px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

dl.diamond-list dd 
{ 
    margin-left: 75px;
    overflow: hidden;   
}

.left-text
{
    float: left;
    width:65.6px;
    font-size: 9px;
}

.right-text
{
    float: left;
    width:101.8px;
    font-size: 9px;
}

.margin-left30{
    margin-left:30.5px;
}

.big-logo
{
    float: left;
    width: 121px;
    height: 91.6px;
}

.margin-top40
{
    margin-top:40px;
}


.name-lastname p
{
    margin: 0px;
}

.full-logo-name
{
    float: left;
    width:285.6px;
    overflow: hidden;
}

.text-block p{
    margin: 0px;
}

.skill{
    width:100%;  
}

.skill-left{
    float:left;
    width: 88.6px;
    margin-top: 10px; 
}

.skill-right{
    float:left;
    width: 78.8px;
    margin-top: 10px; 
}

.footer-item{
    width:32%;
    float:left;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


.footer-text{
    vertical-align: middle;
    font-size: 12px ; 
}

.footer{
    overflow: hidden;
    
    width: 100%;
}

.full-text-block h3
{
    font-size:10px;
    background-color: #dbdbdb;
    padding-left: 10.8px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.name-lastname
{  
    float: left;
    margin-left:5px;
    width: 152.6px;
}

.name-lastname h1,h2
{
    margin: 0px; 
}

.name-lastname h1
{
    font-weight: bold;
    font-size: 25px;
}

.name-lastname h2
{
    font-size: 18px;
    font-weight: normal;
}

.text-block
{
    font-size:9px;
    overflow: hidden;
}

.text-block h4,h5
{
    margin: 0px; 
}

.text-block h4
{
    font-size: 10px; 
    font-weight: 520;       
}

.text-block h5
{
    font-size:10px;
    font-weight: 520;
}

.text-block p{
    margin: 0px;
    font-weight: 600;
}
