@media (min-width: 800px) {
  .container {
    max-width: 496px;
  }
}
body {
  background-image: url(images/background.jpg);
  font-family: "PT Sans", Arial, sans-serif;
}
.main-block {
  background-color: white;
  box-shadow: 8px 8px 20px #7a7a7a;
  box-sizing: border-box;
  margin-top: 3%;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
  width: 496px;
  margin-top: 20px;
}
.width-left {
  width: 50.812%;
}
.width-right {
  width: 33.75%;
}
.full-text-block {
  margin-top: 15px;
}
.full-text-block h3 {
  background-color: #dbdbdb;
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: 8px;
  padding-left: 10.8px;
}
.font-red {
  color: #d9534f;
}
.full-block-content {
  min-height: calc(100vh - 120px);
}
.logo {
  background: url(images/freepick.png);
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 60px;
  min-width: 250px;
  margin-top: 20px;
  background-position: center;
  background-size: 300px;
}
.red-block {
  background-color: #d9534f;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.white-block {
  background-color: white;
  height: 78%;
  margin-bottom: 8%;
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 8%;
  width: 65%;
}
dl.diamond-list {
  margin: 0px;
  overflow: hidden;
}
dl.diamond-list dt {
  float: left;
  text-align: center;
  width: 46.4%;
  margin-top: 10px;
}
dl.diamond-list dd {
  overflow: hidden;
  margin-top: 10px;
}
.diamond {
  background: #d9534f;
  height: 11px;
  margin: 4px 5px 0px 10px;
  transform-origin: 0 100%;
  transform: rotate(-45deg);
  width: 11px;
}
.big-logo {
  float: left;
  height: 91.6px;
  width: 121px;
}
.big-logo a {
  text-decoration: none;
}
.margin-top40 {
  margin-top: 40px;
}
.full-logo-name {
  overflow: hidden;
}
.skill {
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
}
.skill-left {
  float: left;
  width: 52.82%;
}
.skill-right {
  float: left;
  width: 47.1856%;
}
.skill-label {
  display: inline-block;
  font-weight: bold;
}
.footer-item {
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  vertical-align: top;
  width: 33%;
}
footer {
  text-align: center;
}
.footer-text {
  font-size: 14px;
  font-weight: 600;
}
.footer-text span {
  vertical-align: top;
}
.footer-text a {
  color: black;
  text-decoration: none;
}
.first-footer-item:before {
  content: url(images/twitter-logo.jpg);
  margin-right: 10px;
}
.second-footer-item:before {
  content: url(images/phone-logo.jpg);
  margin-right: 10px;
}
.third-footer-item:before {
  content: url(images/mail-logo.jpg);
  margin-right: 10px;
}
.footer {
  overflow: hidden;
  width: 100%;
}
.name-lastname {
  float: left;
  margin-left: 5px;
}
.name-lastname h1 {
  font-size: 22.4px;
  font-weight: bold;
}
.name-lastname h2 {
  font-size: 18px;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-block {
  font-size: 9px;
  overflow: hidden;
}
.text-block h4 {
  font-size: 10px;
  font-weight: 520;
}
.text-block h5 {
  font-size: 10px;
  font-weight: 520;
}
.text-block p {
  font-weight: 600;
  margin: 0px;
}
.text-block-row {
  font-size: 9px;
}
.input-block {
  background: white;
  border: none;
  color: black;
  font-size: 8.9px;
  font-weight: normal;
}
.main-label {
  display: inline-block;
  font-weight: bold;
  width: 35%;
}
ul.progress-list {
  list-style-type: none;
  margin-top: 0px;
  padding: 0px;
}
ul.progress-list li:first-child {
  margin-top: 0px;
}
.auto-mid {
  display: inline-block;
  width: 300px;
}
p {
  margin: 0px;
  word-wrap: break-word;
}
.no-padding {
  padding: 0px;
}
.no-margin-and-bottom {
  margin: 0px;
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}

.progress {
  margin-bottom: 0px;
  border-radius: 0px;
  height: 10px;
  background-color: #dbdbdb;
}
.progress-bar.progress-bar-danger {
  background-color: #d9534f;
}
